@media screen and (min-width: 992px) {

    .col-lg {

    float:left;
    

    }

    .col-lg {
        width: 33.3%;
    }


}


@media screen and (min-width: 768px) and (max-width: 991px) {

    .col-md, .col-md1 {

    float:left;
  

    }

    .col-md {
        width: 50%;
    }

    .col-md1 {
        width: 100%;
    }


}


@media screen and (max-width: 767px) { /*switched from min width 12.13.21 4:12pm */

    .col-sm {

    float:left;

    }

    .col-sm {
        width: 100%;
    }



}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9pt;
   
    
}



h1 { /* ICE 001 */

    text-align: center;
    font-size: 25pt;
}

.row {
    width: 100%;
}

.container {
    position:relative;
/*     border: 2px solid black; */
    /* removed margin from here and placed on p tag */
}

p {
    border: black solid 2 px;
    background-color: grey;
    padding:45px 10px 10px 10px;
    margin-right: 10px;
    overflow:hidden;


}

#chicken1 {
    border: black solid 1px;
    background-color: pink;
    color: black;
    font-weight: bold;
    position:absolute;
    padding: 10px;
    right:0px;
    top: 0px;
}

#beef2 {
    border: black solid 1px;
    background-color: red;
    color: white;
    font-weight: bold;
    position:absolute;
    padding: 10px;
    right:0px;
    top: 0px;
}

#sushi3 {
    border: black solid 1px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    position:absolute;
    padding: 10px;
    right:0px;
    top: 0px;
}



