* {
    box-sizing: border-box;
}

#chicken, #beef, #sushi {

    background-color: gray;
}

.chicken span {
    background-color: hotpink;
    border: 1px black solid;
}

.beef span {
    background-color: red;
    color: white;
    border: 1px black solid;

}

.sushi span {
    background-color: yellow;
    border: 1px black solid;

}
