/*Large devices only*/

@media (min-width: 1200px ) {
    
}

/*Medium devices only*/

@media (min-width: 992px ) and (max-width: 1199px ) {
/* Header */

#logo-img {

    width: 100px;
    height: 100px ;
    margin: 5px 5px 5px 0;

}

}
/*Small devices only*/

@media (min-width: 768px ) and (max-width: 991px ){

    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 3vw;
    }
    
}


/*Extra Small devices only*/

@media (max-width: 767px ) {
  
    #logo-img {

        visibility: hidden;
    
    }
    
    .navbar-brand  {
        padding-top: 10px;
        height: 80px ;
    }
    
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 4vw;
        float: left;
    }

    .navbar-brand p span {
        padding-top: 10px;
        font-size: 3vw;
        float: left;
    }

    #kosher {
        padding-top: 10px; 
        font-size: 3vw;
        /* width: 3vw; */
        float: left !important;
    }

    #phone {

        visibility: hidden;
    }

    /* .navbar-brand p span {
        font-size: .6em;
        margin-top: 12px;
    }


    .navbar-brand p img {
        height: 20px;

    } */
}


#navbar {

    margin-bottom: 30px;
}


#main-content {

    /* took this out because its adding extra padding to the image */
    /* box-shadow: 0 0 50px #3F0C1F; */
    /* border: 2px solid #3F0C1F; */
}

body {
    font-size: 16px;
    color: #fff;
    background-color: #971919;
    font-family: 'Fira Sans', sans-serif;
    min-height: 100%;
    
}

.navbar-dark {
    background-color: burlywood;

}



#header-nav {
    background-color: burlywood;
    margin-bottom: 0px;
    /* no border or rounded edges with gaps on the border without the border-radius and border */
    border-radius: 0px;
    border: 0px;
    /* margin-bottom set to 0 removed white line on the page */
}

#logo-img {

    width: 125px;
    height: 125px;
    margin: 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand a h1 {

    font-family: 'Merriweather', serif;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 30px;
    margin-bottom: 0;
    line-height: .75;
    
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
    text-decoration: none;
}


.navbar-brand p { /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .1em;
    margin-top: 15px;

}

.navbar-brand p span { /*Small logo */
    vertical-align: middle;
    
}

#kosher { /*Small logo */
    
    width: 40px !important;
    
}


#navmenu {
    margin-top: 10px;
}

#navmenu a {
    color: #951c49
}

#navmenu a:hover {

    background: #e7e7e7

}

#navmenu a span {
    font-size: 1.5em;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #951c49
}

#nav-list a:hover {

    background: #e7e7e7

}

#nav-list a span {
    font-size: 1.8em;
}

.navbar-nav {
    text-align: center;
}

#phone {
    margin-top: 5px;
}

#phone a { /* Phone number */
    text-align: right;
    padding-bottom: 0;
    font-size: .8em;
}

#phone div { /* We Deliver */

    color: #557c3e;
    text-align: right;
    padding-right: 15px;
}


#phone span {

    text-decoration: none;
}

.navbar button.navbar-toggler {

/* styles the outer border of the toggler */
    border: 1px solid #61122f
}

.navbar-toggler-icon {


/* styles the 3 bars */

}

.navbar button.navbar-toggler {

    clear: both;
    margin-top: -30px;
}





p {
    
    font-size: 17px;
}

